# Kaggle
## House Prices - Advanced Regression Techniques

September 2022

In [276]:
# Import libraries
import pandas as pd
import numpy as np
import datetime as dt

from sklearn.model_selection import train_test_split
from catboost import CatBoostRegressor, Pool

In [251]:
# Read data into RAM
train = pd.read_csv('data/train.csv', header=0)
print('train shape: ', train.shape)
val = pd.read_csv('data/test.csv', header=0)
print('test shape: ', test.shape)

train shape:  (1460, 81)
test shape:  (292, 81)

In [252]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [253]:
val.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [254]:
# Fill NA with generic value for the preliminary model, go back and impute missing more intelligently for next model.
train = train.fillna('999')
val = val.fillna('999')

In [255]:
# Split the train (80%) and test (20%) samples to prevent overfitting.
train, test = train_test_split(train, test_size=0.2, random_state=1234)

In [256]:
train['SalePrice'].describe()

count      1168.000000
mean     181528.605308
std       80709.778721
min       39300.000000
25%      129900.000000
50%      162700.000000
75%      214000.000000
max      755000.000000
Name: SalePrice, dtype: float64

In [257]:
test['SalePrice'].describe()

count       292.000000
mean     178491.558219
std       74239.301193
min       34900.000000
25%      130000.000000
50%      165075.000000
75%      212000.000000
max      485000.000000
Name: SalePrice, dtype: float64

In [258]:
# Specify dependent and independent variables for the train and test samples
train_y = train['SalePrice']
train_x = train[['1stFlrSF', 'YrSold', 'SaleType']]
#train_x = train.drop(['SalePrice', 'Id', 'MSZoning', 'MSSubClass'], axis=1)
test_y = test['SalePrice']
test_x = test[['1stFlrSF', 'YrSold', 'SaleType']]
#test_x = test.drop(['SalePrice', 'Id', 'MSZoning', 'MSSubClass'], axis=1)
val = val[['Id', '1stFlrSF', 'YrSold', 'SaleType']]
val = val.set_index('Id')

In [259]:
# list(train_x.columns)

In [260]:
train_x.dtypes

1stFlrSF     int64
YrSold       int64
SaleType    object
dtype: object

In [261]:
cat_features = np.where(train_x.dtypes != np.int64)
cat_features

(array([2]),)

In [262]:
# Create the CatBoost Pool and specify categorical features for the model
cat_features = np.where(train_x.dtypes != np.int64)[0]
train_pool = Pool(train_x, label=train_y, cat_features=cat_features)
test_pool = Pool(test_x, label=test_y, cat_features=cat_features)

/Users/boukhris-escandon/opt/anaconda3/envs/house-prices/lib/python3.8/site-packages/catboost/core.py:1411: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  self._init_pool(data, label, cat_features, text_features, embedding_features, embedding_features_data, pairs, weight,

In [263]:
# Initialize the Regressor model
model = CatBoostRegressor()

In [264]:
# Fit the model
model.fit(X=train_x, y=train_y, eval_set=test_pool, cat_features=cat_features, verbose=100)

Learning rate set to 0.052178
0:	learn: 79070.7623341	test: 72764.6229677	best: 72764.6229677 (0)	total: 2.4ms	remaining: 2.4s
100:	learn: 54811.0338792	test: 53846.1192651	best: 53759.1014317 (80)	total: 135ms	remaining: 1.2s
200:	learn: 51762.3329322	test: 53826.0560685	best: 53759.1014317 (80)	total: 219ms	remaining: 870ms
300:	learn: 50027.6668571	test: 54052.3293068	best: 53759.1014317 (80)	total: 315ms	remaining: 732ms
400:	learn: 48343.9108939	test: 54551.7609800	best: 53759.1014317 (80)	total: 477ms	remaining: 712ms
500:	learn: 46994.7637523	test: 54966.6236515	best: 53759.1014317 (80)	total: 576ms	remaining: 574ms
600:	learn: 45831.4783952	test: 55337.5702677	best: 53759.1014317 (80)	total: 657ms	remaining: 436ms
700:	learn: 44801.9907951	test: 55548.9628571	best: 53759.1014317 (80)	total: 780ms	remaining: 333ms
800:	learn: 43848.5851047	test: 55776.0964097	best: 53759.1014317 (80)	total: 910ms	remaining: 226ms
900:	learn: 42941.7451578	test: 56150.9667714	best: 53759.1014317 (80)	total: 1.13s	remaining: 124ms
999:	learn: 42028.8836687	test: 56453.3453176	best: 53759.1014317 (80)	total: 1.23s	remaining: 0us

bestTest = 53759.10143
bestIteration = 80

Shrink model to first 81 iterations.

In [265]:
# Get feature importance
varimportance = model.get_feature_importance(train_pool, fstr_type='FeatureImportance')
variables = list(train_x)
variable_importance = pd.DataFrame({'feature':variables, 'importance':varimportance}).sort_values('importance', ascending=False)
variable_importance.head()

    feature  importance
0  1stFlrSF   78.558313
2  SaleType   16.631772
1    YrSold    4.809915

In [266]:
val.index

Int64Index([1461, 1462, 1463, 1464, 1465, 1466, 1467, 1468, 1469, 1470,
            ...
            2910, 2911, 2912, 2913, 2914, 2915, 2916, 2917, 2918, 2919],
           dtype='int64', name='Id', length=1459)

In [268]:
submission = pd.DataFrame(model.predict(val), index=val.index)

In [274]:
submission.columns = ['SalePrice']

In [275]:
submission.head()

          SalePrice
Id
1461  136375.892027
1462  180567.057495
1463  142504.277184
1464  142504.277184
1465  179468.298825

In [279]:
# Print CSV of scores
filename = 'submissions/submission_'+dt.datetime.now().strftime("%Y%m%d-%H%M%S")
submission.to_csv(filename, header=True, index=True)